//==============================================================================
// All Product Layouts / Cart
//==============================================================================

form.cart
{
    margin-bottom: 30px;

    table.group_table
    {
        margin-bottom: 30px;
    }

    #wc-stripe-payment-request-wrapper
    {
        padding-top: 1rem !important;
    }

    #wc-stripe-payment-request-button-separator
    {
        margin: 1rem 0 !important;
        text-transform: lowercase;
        font-size: 12px;
    }

    @media screen and (min-width: 768px) {
        #wc-stripe-payment-request-button-separator + .single_add_to_cart_button
        {
            width: 100% !important;
        }
    }

    .quantity:not(.hidden).default
    {
        margin-bottom: 10px;
    }

    .button.added_to_cart_button,
    .added_to_cart
    {
        display: none !important;
    }

    .button
    {
        display: inline-block;
        float: none !important;
        vertical-align: top !important;

        @media all and (max-width: 767px) {
            min-width: auto;
            width: fit-content;
            float: left !important;
            text-align: center;
            padding: 16px 38px !important;
        }
    }
}
