.woocommerce-variation-availability
{
	margin-top: 30px;

	p.out-of-stock
	{
		display: block !important;
		text-align: center;
		border: 1px dashed; 
		padding: 15px 0;
		text-transform: uppercase;
		font-weight: 900;  
		font-size: rem-calc(11); 
	}
}

p.out-of-stock
{
	display: none;
}

.out_of_stock_wrapper
{
	margin-bottom: rem-calc(40);
	 
	.out_of_stock_badge_single 
	{
		text-align: center;
		border: 1px dashed; 
		padding: 15px 0;
		text-transform: uppercase;
		font-weight: 900;  
		font-size: rem-calc(11); 
	}
}
