//==============================================================================
// Product Layout 2 / Product Images Wrapper
//==============================================================================

.product-images-wrapper
{
	position: relative;

	.woocommerce-product-gallery__wrapper
	{
		height: auto !important;
	}

	.product-images-style-2
	{
		display: none;

		@media (min-width:1024px)
		{
			display: block;
		}
	}

	.images
	{
		float: none !important;
        width: auto !important;
        margin: 0 !important;
	}

	.product_images
	{
		font-size: 0;

		.product-image
		{
			margin-bottom: 25px;
			position: relative;
			vertical-align: middle;
			width: 100% !important;
			height: auto !important;

			.easyzoom.el_zoom
            {
                img
                {
                    cursor: url(../images/cursor-zoom.png), auto;
                }
            }

			&.mobile
			{
				display: none;
			}

			.desktop-image
			{
				display: block;
			}

			&:first-child
			{
				width: 100%;

				img
				{
					padding: 0;
				}
			}

			img
			{
			   width: 100%;
			}

			.caption
			{
				padding: 30px 0 40px;
				max-width: 50%;

				&:before
				{
					content: "";
					width: 50px;
					height: 1px;
					margin-right: 20px;
					display: inline-block;
					vertical-align: super;
				}
			}

			&.video
			{
				padding-top: 56.2222%;
                width: 100%;
                position: relative;

                iframe
                {
                	position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
			}

		}

		.product-video-icon
		{
			display: none;
		}

		.product-images-controller
		{
			position: fixed;
			list-style-type: none;
			margin: 0;
			z-index: 9;

			li.video-icon
			{
				.dot
				{
					border: 2px solid;
					width: 18px;
					height: 18px;
					font-size: 8px;
					margin: 0;

					&.current
					{
						border-color: transparent;
					}

					i
					{
						color: #FFF;
						font-size: 6px;
						text-align: center;
						vertical-align: middle;
						margin-left: 1px;
					}
				}
			}

			.dot
			{
				width: 8px;
				height: 8px;
				border: 1px solid;
				border-radius: 100%;
				transition: all .5s;
				margin: 13px auto;
				display: block;
				text-align: center;

				&:first-child
				{
					margin-top: 0;
				}

				&.current
				{
					border-color: transparent;
				}
			}

		}

	}

}
