@font-face {
  font-family: 'Radnika';
  font-display: block;
  font-style: normal;
  font-weight: 500;
  src: url('../inc/fonts/theme/Radnika-Regular.eot'); /* IE9 Compat Modes */
  src: url('../inc/fonts/theme/Radnika-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../inc/fonts/theme/Radnika-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../inc/fonts/theme/Radnika-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Radnika';
  font-display: block;
  font-style: normal;
  font-weight: 700;
  src: url('../inc/fonts/theme/Radnika-Bold.eot'); /* IE9 Compat Modes */
  src: url('../inc/fonts/theme/Radnika-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../inc/fonts/theme/Radnika-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../inc/fonts/theme/Radnika-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}



@font-face {
  font-family: 'NeueEinstellung';
  font-display: block;
  font-style: normal;
  font-weight: 500;
  src: url('../inc/fonts/theme/NeueEinstellung-Regular.eot'); /* IE9 Compat Modes */
  src: url('../inc/fonts/theme/NeueEinstellung-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../inc/fonts/theme/NeueEinstellung-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../inc/fonts/theme/NeueEinstellung-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'NeueEinstellung';
  font-display: block;
  font-style: normal;
  font-weight: 700;
  src: url('../inc/fonts/theme/NeueEinstellung-Bold.eot'); /* IE9 Compat Modes */
  src: url('../inc/fonts/theme/NeueEinstellung-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../inc/fonts/theme/NeueEinstellung-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../inc/fonts/theme/NeueEinstellung-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}
