/*------------------------------------------------------------------
[Table of contents]

	General Header Styles Including:
		Medium Screens (min-width 641px)
		Large Screens  (min-width 1023px)
	IE10+ CSS styles
	IE9 CSS styles 
	
[/Table of contents]
-------------------------------------------------------------------*/

body.admin-bar
{
	@media only screen and (max-width: 63.9375em) {
		margin-top: -46px !important;
	}
}

body.admin-bar #page_wrapper.sticky_header .top-headers-wrapper,
body.admin-bar #page_wrapper.sticky_header.transparent_header .top-headers-wrapper
{
	top: 32px;

	@media screen and (max-width: 782px) {
		top: 46px;
	}
}

body.admin-bar #page_wrapper.transparent_header:not(.sticky_header) .top-headers-wrapper
{
	margin-top: 32px;

	@media screen and (max-width: 782px) {
		margin-top: 46px;
	}
}

body.page-template-page-blank
{
	.top-headers-wrapper,
	#site-footer
	{
		display:none;
	}

	.content-area {
		margin:0 !important;
		padding:0 !important;
	}
}

body.admin-bar #page_wrapper:not(.sticky_header):not(.transparent_header) .top-headers-wrapper
{	
	@media screen and (max-width: 1023px) {
		margin-top: 32px;
	}

	@media screen and (max-width: 782px) {
		margin-top: 46px;
	}
}

#page_wrapper:not(.sticky_header):not(.transparent_header) .top-headers-wrapper
{
    z-index: 8888;
    position: relative;
}

body.admin-bar #page_wrapper.sticky_header
{
	@media only screen and (max-width: 63.95em) {
		padding-top: 82px;
	}

	@media screen and (max-width: 782px) {
		padding-top: 96px;
	}
}

.site-header
{
	position: relative;
	transition: all .3s linear;
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-header-wrapper
{
	position: relative;
	margin:0 -10px;
	/*display: table;*/
	width: 100%;
}

.site-header ul,
.site-header ol,
.site-header dl
{
	font-size: 1em;
	line-height:1em;
}

.site-header .widget_product_search label,
.site-header .widget_search label,
.site-header .widget_product_search h3,
.site-header .widget_search h3
{
	display:none;
}

.site-header.sticky
{
	box-shadow: -2px 2px 81px -27px rgba(0,0,0,0.29);
}

@media only screen and (min-width: 63.9375em) {
	.site-header.sticky .main-navigation,
	.site-header.sticky .site-tools,
	.site-header.sticky .site-branding img
	{
		height: 33px;
		line-height: 33px;
		width: auto;
		transition: all 0.3s;
	}
}

.site-branding {
	padding:0;
    text-align: left;
	height:33px;
	width: 100%;
	max-width:50%;
	position: relative;
}

.site-branding a
{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}

.site-branding img {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.site-branding a
{
    display: inline-block;
}

.site-logo
{
	filter: none;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);

	@media all and (max-width: 1023px) {
		max-height: 33px;
	}

	@media all and (max-width: 1024px) {
		display: none !important;
	}
}

.sticky-logo
{
	display:none;
    max-height: 33px;
	transition: all .3s ease;

	@media all and (max-width: 1024px) {
		display: block !important;
	}
}

.site-title {
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
}

.site-title a {
	color:#000;
}

.site-description {
	font-size:14px;
	font-style:italic;
	margin-top:0px;
	line-height:1.8em;
}

#site-menu {
	margin:0;
	padding-top:0;
	font-weight:bold;
	text-transform:uppercase;
}

/* tools */

.site-tools
{
    text-align:center;
	float:right;
	vertical-align:middle;
	height:33px;
	line-height:33px;
}

.site-tools.offset
{
	margin-right: -3px;
}

.site-tools ul
{
    padding:0;
    margin:0;
    list-style:none;
	display:inline-block;
}


.site-tools ul li
{
	display:inline-block;
	vertical-align:middle;
	margin-left: 16px;
    position:relative;
    cursor:pointer;
	
	opacity: 1;
	
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.site-tools ul li:hover
{
	opacity: 0.6;	
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.tools_button {
	display:block;
	margin-top:-3px;
}

.tools_button_icon {
	width:20px;
	height:32px;
	display:block;
	float:left;
	text-align: left;
}

.tools_button_icon img {
	max-width:100%;
	max-height:100%;
	
	position: relative;
	top: 50%;
	left: 0;
	
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}

.tools_button_icon i {
	margin-top:10px;
	display:inline-block;
	font-size:14px;
}

.shopping_bag_items_number,
.wishlist_items_number
{
    font-size:13px;
	height:32px;
	line-height:34px;
	display:block;
	margin:0 0 0 22px;
	text-align:left;
}

@keyframes animate_count
{
  0% 
  {
  	transform: scale(0);
  }

  50% 
  {
  	transform: scale(1);
  }

  75%
  {
  	transform: scale(1.2,1.2);
  }

  100%
  {
  	transform: scale(1);
  }

}

@media only screen and (min-width: 40.063em) {
	
	.site-header-wrapper
	{
		position: relative;
		margin:0 auto;
	}

	.site-header
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.site-branding
	{
		width: auto;
		max-width:none;
		position: relative;
	}

	.site-branding a
	{
		max-width: none;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		-webkit-transform: none;
	}
	
	.tools_button_icon i {
		margin-top:8px;
		display:inline-block;
		font-size:18px;
	}
	
	.shopping_bag_items_number,
	.wishlist_items_number
	{
		margin: 2px 0 0 23px;
	}
	
	
}



@media only screen and (min-width: 40.063em) {

	.site-title {
		font-size:24px;
	}

}

@media only screen and (max-width: 639px) {

	.site-tools .wishlist_items_number,
	.site-tools	.shopping_bag_items_number
	{
		line-height: 36px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {

	.site-tools .wishlist_items_number,
	.site-tools	.shopping_bag_items_number
	{
		line-height: 32px;
	}
}

@media only screen and (min-width: 1024px) {
	
	#page_wrapper.transparent_header .site-header {
		background:none;
	}
	
	#page_wrapper.transparent_header .top-headers-wrapper {
		position:absolute;
		width:100%;
		z-index:8888;
		-webkit-transform: translateZ(0);
		top:0;
	}
	
	#page_wrapper.sticky_header .top-headers-wrapper {
		position:absolute;
		width:100%;
		z-index:8888;
		-webkit-transform: translateZ(0);
		top:0;
	}
	#page_wrapper.sticky_header .top-headers-wrapper.on_page_scroll
	{
		position: fixed;
		top: 0;
	}
	
	.logged-in.admin-bar #page_wrapper.sticky_header .top-headers-wrapper.on_page_scroll
	{
		position: fixed;
		top: 32px;
	}
	
	.site-header.sticky {
		padding-top:15px !important;
		padding-bottom:15px !important;
	}
	
	.site-branding {
		height:auto;
	}
	
	.site-branding img {
		text-align: center;
		height:auto;
	}
	
	.site-tools ul .wishlist-button,
	.site-tools ul .my_account_icon,
	.site-tools ul .search-button
	{
		display: inline-block;
	}
}

/* IE10+ CSS styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.offcanvas_open .top-headers-wrapper {
		position:absolute !important;
	}
}

/* IE9 CSS styles */
.ie9 .offcanvas_open .top-headers-wrapper {
	position:absolute !important;
}

.site-header.centered {
	.wrapper_header_layout {
		display: table;
		width: 100%;
	}

	.header_col {
		display: table-cell;
		position:relative;
		vertical-align:middle;
	}

	.header_col.left_menu {
		width:50%;
		display:none;
		padding-right: 20px;
	}

	.header_col.right_menu {
		width:50%;
		display:none;
		padding-left: 20px;
	}

	@media only screen and (min-width: 63.95em) {
		
		.site-branding {
			text-align:center;
		}
		
		.header_col.left_menu,
		.header_col.right_menu {
			display: table-cell;
		}

	}
}

.site-header.menu-under {
	@media only screen and (min-width: 63.95em) {
	
		.site-branding {
			text-align:center;
		}

	}
}

.site-header.default {
	.site-branding {
		display: inline-block;
		float: left;
	}
	.rtl .site-branding {
	    float: right;
	}
	@media only screen and (min-width: 63.9375em) {
		
		.site-branding {
			margin-right:35px;
		}
		.rtl .site-branding {
	    margin-left: 35px;
	    margin-right: 0;
	}

	}
}