//==============================================================================
// Product Layout Default
//==============================================================================

.product_layout_classic
{
    @import 'product-layout-default/product_thumbnails';
    
    .product-images-layout-mobile
    {
        display: none;
    }
    
    .product_infos
    {
        z-index: 1;
        transition: bottom .6s;
        position: relative;

        .product_summary_top
        {
            padding: 30px 0;
            margin: 0; 
            
            &:after
            {
                content: "";
                display: block;
                clear: both; 
            }
              
            .woocommerce-breadcrumb
            {
                width: 70%; 
                float: left;
                text-transform: uppercase; 
                font-size: 0px;
                font-weight: bold; 
                line-height: 18px; 
                padding: 0;
                
                .breadcrump_sep
                {
                    font-size: 10px;

                    &:last-child
                    {
                        display: none;
                    }
                }
                
                a
                {
                    padding-left: 7px;
                    padding-right: 7px;  
                    font-size: 10px;
                    
                    &:first-child
                    {
                        padding-left: 0;
                    }
                }
                
                .breadcrumb-last-item
                {
                    display: none;
                }
            }

            .woocommerce-product-rating
            {   
                width: auto; 
                float: right;
                margin-bottom: 0;
                position: relative;
                text-align: right;
                line-height: 18px; 
                transition: all .5s;
                
                .woocommerce-review-link
                {
                    font-size: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    width: 100%;
                    height: 10px;
                    padding-bottom: 30px; 
                }
                
                .star-rating
                {
                    top: -2px;
                }
            }

            .woocommerce_review_link_hover
            {
                position: absolute;
                top: -40px;
                right: 0;
                margin: 0 auto;
                text-align: center;
                width: auto;
                padding: 5px 10px 7px;
                white-space: nowrap;
                font-size: 12px;
                line-height: 20px; 
                background: #000;
                color: #FFF;  
                pointer-events: none;
                opacity: 0; 
                transition: all .5s;
                visibility: hidden;

                @media all and (max-width: 1024px)
                {
                    top: 0px;
                }
                
                &.hovered
                {
                    transition: all .5s;
                    opacity: 1;
                    visibility: visible; 
                }
                
                &:before
                {
                    top: 100%;
                    right: 40px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(27,27,29,0);
                    border-top-color: #1b1b1d;
                    border-width: 4px;
                } 
            }
        }

        .product_summary_middle
        {
            .product_title
            {
                text-align: left;
                margin-bottom: 21px; 
            }
        }

        .price
        {
            font-size: 22px !important;
            font-weight: bold;
        }

        @import 'product-layouts/grouped_product';  
        @import 'product-layouts/out_of_stock';   
        @import 'product-layouts/add_to_cart';
        @import 'product-layouts/wishlist'; 

}

@import 'product-layouts/product_meta';

// Woocommerce Tabs
@import 'product-layouts/mixin_woocommerce_tabs';
@import 'product-layouts/mobile_gallery';
@include woocommerce_tabs(center, 13px);


.product-image-link
{
    display: block;
    
    &:hover
    {
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }
}


.recently_viewed_in_single
{
    h2 
    {
        font-size: .8em;
        margin: 0 0 15px 0;
        -ms-word-wrap: normal;
        word-wrap: normal;
    }

    ul 
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li 
    {
        padding: 0;
        margin: 0 0 20px 0;
    }
}

.single-product .button.product_type_external 
{
    overflow: hidden !important;
    min-width: 0;
    max-width: 60px;
    color: transparent !important;
    padding: 0 !important;
    width: 60px;
    text-align: center;
}

// Related Products
@import 'product-layouts/mixin_related';
@include related(center, 13px);


// Product Navigation
@import 'product-layouts/product_navigation';


// Product Badges
@import 'product-layouts/mixin_product_badges';
@include product_badges(12px, 15px, 12px, -10px);

}

@import 'product-layout-default/responsive';