//==============================================================================
// Product Layout 2
//==============================================================================

.product_layout_2
{
	.product_content_wrapper
	{
		max-width: 80%;
		margin: 0 auto;
        
		@import 'product-layout-2/product_images_wrapper';

        .product_infos
        {
            @import 'product-layouts/grouped_product';
            	        	
            .product_summary_top
            {
                margin-bottom: 55px;
                                
                &:after
                {
                    content: "";
                    display: block;
                    clear: both; 
                }
                  
                .woocommerce-breadcrumb
                {
                    width: 70%; 
                    float: left;
                    text-transform: uppercase; 
                    font-size: 0;
                    font-weight: bold; 
                    line-height: 18px; 
                    padding: 0;

                    .breadcrump_sep
                    {
                        font-size: 10px;

                        &:last-child
                        {
                            display: none;
                        }
                    }
                    
                    a
                    {
                        padding-left: 7px;
                        padding-right: 7px;  
                        font-size: 10px;
                        
                        &:first-child
                        {
                            padding-left: 0;
                        }
                    }
                }

                .woocommerce-product-rating
                {   
                    width: auto; 
                    float: right;
                    margin-bottom: 0;
                    position: relative;
                    text-align: right;
                    line-height: 18px; 
                    
                    .woocommerce-review-link
                    {
                        font-size: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        width: 100%;
                        height: 10px;
                        padding-bottom: 30px; 
                    }
                    
                    .star-rating
                    {
                        top: -2px;
                    }
                    
                }

                .woocommerce_review_link_hover
                {
                    position: absolute;
                    top: -40px;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    width: auto;
                    padding: 5px 10px 7px;
                    white-space: nowrap;
                    font-size: 12px;
                    line-height: 20px; 
                    background: #000;
                    color: #FFF;  
                    pointer-events: none;
                    opacity: 0; 
                    transition: all .5s;
                    visibility: hidden;

                    @media all and (max-width: 1024px)
                    {
                        top: -10px;
                    }
                    
                    &.hovered
                    {
                        transition: all .5s;
                        opacity: 1;
                        visibility: visible; 
                    }
                    
                    &:before
                    {
                        top: 100%;
                        right: 30px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(27,27,29,0);
                        border-top-color: #1b1b1d;
                        border-width: 4px;

                        @media all and (min-width: 1024px) and (max-width: 1280px)
                        {
                            right: 75px;
                        }

                        @media all and (max-width: 1024px)
                        {
                            right: 25px;
                        }
                    } 
                }
            }

            .product_summary_middle
            {
            	.product_title
            	{
            		text-align: left;
            		margin-bottom: 21px; 
            	}
            }

            .price
            {
                font-size: 22px !important;
                font-weight: bold;
            }
        
			@import 'product-layouts/add_to_cart';
            @import 'product-layouts/out_of_stock';   
            @import 'product-layouts/wishlist';
    
        }

		@import 'product-layouts/product_meta';
        @import 'product-layouts/mobile_gallery';
        

        // Woocommerce Tabs
        @import 'product-layouts/mixin_woocommerce_tabs';
        @include woocommerce_tabs(left, 13px);
		
	}

    .product-type-grouped
    {
        form.cart
        {
            float: none !important;
        }
    }


	@import 'product-layouts/product_navigation';
    

    // Product Badges
    @import 'product-layouts/mixin_product_badges';
    @include product_badges(12px, 15px, 15px, -10px);
    
    // Related Products
    @import 'product-layouts/mixin_related';
    @include related(left, 13px);
}

@import 'product-layout-2/responsive';