.shopkeeper-mini-cart 
{
	position: fixed;
	top: 100px;
	right: 107px;
	width: 0;
	max-height: 0; 
	z-index: 8890;
	background: #ec7a5c;
	transition: max-height .3s .1s, width  .3s .1s, box-shadow .7s .5s;
	transition-timing-function: cubic-bezier(.67,.17,.32,.95);
	box-shadow: 0px 0px 40px -10px rgba(0,0,0,0);
	transform: translateZ(0);
	overflow: hidden;
	
	.widgettitle {
		display: none;
	}
	
	::-webkit-scrollbar
    {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb 
    {
        background: rgba(0,0,0,.1);
    }

    ::-webkit-scrollbar-thumb:window-inactive 
    {
        background: rgba(0,0,0,.1);
    }

    .cart_list.product_list_widget
    {
    	opacity: 0; 
    	transition: opacity .3s;
		transition-timing-function: cubic-bezier(.67,.17,.32,.95);
    }

    .minicart-message 
    {
    	opacity: 0; 
    	transition: opacity .1s;
		transition-timing-function: cubic-bezier(.67,.17,.32,.95);
    }
	
	&.open 
	{
		width: 400px;
		max-height: 680px;  
		box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
	
		li 
		{
			transform: translateX(-100%);

		}

		.cart_list.product_list_widget,
		.minicart-message
		{
			opacity: 1;
			transition-timing-function: cubic-bezier(.67,.17,.32,.95);
			transition-delay: .4s; 
		}
			
	}

	.widget.woocommerce.widget_shopping_cart
	{
		margin-bottom: 0;
		
		.widget_shopping_cart_content
		{
			margin-bottom: 0;
			margin-top: 0;
			 
			.cart_list.product_list_widget
			{
				overflow-y: auto;
				overflow-x: hidden;
				max-height: 400px; 
				margin: 0;
				
				li.empty
				{
					padding: 120px 0 100px !important;
					color: #FFF;
					font-size: 13px; 
					transform: translateX(0);
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;
					 
					&:before
					{
						content: "\e908"; 
						font-family: 'Shopkeeper-Icon-Font' !important; 
						font-weight: normal;
						background: none;
						font-size: 100px; 
						line-height: 60px;
						margin: 0 auto; 
						float: none;
						text-align: center;
						padding-bottom: 35px; 
						 
					}
				}

				li.mini_cart_item
				{
					float: left;
					display: block;
					width: 100%;
					line-height: 30px;
					position: relative;
					left: 100%;
					transition-timing-function: cubic-bezier(.67,.17,.32,.95);
					overflow: hidden;
					height: auto;
					border-bottom : 1px solid rgba(255, 255, 255, 0.5);
					padding: 20px !important;
					margin-bottom: 0;
					transition: all .5s;
					
					&:hover
					{
						.remove
						{
							opacity: 1;
							visibility: visible; 
						}
					}
					
					.product-item-bg
					{
						width: 100px;
						height: 100px;
						background-size: cover;
						background-position: center center;
						float: left;  
						margin-right: 20px; 
						
						&.smaller-vh
						{
							width: 60px;
							height: 60px;  
						}
					}
					
					a:not(.remove)
					{
						color: #FFF;
						margin-right: 40px; 
						font-size: 13px; 
						
						img
						{
							width: 100px; 
							height: auto; 
							display: none;
						}	
					}

					.remove
					{
						position: absolute;
						top: 12px !important;
						right: 10px; 
						left: initial; 
						color: #FFF !important; 
						opacity: .5; 
						text-align: center;
						padding: 5px;
						width: 30px;
						height: 30px;  
						opacity: 0;
						visibility: hidden;  
						transition: all .5s;
					}

					.quantity
					{
						font-size: 13px; 
						color: rgba(255, 255, 255, .5); 
						
						.amount
						{
							font-size: 13px; 
							margin-top: 0;
						}
					}

					.variation
					{
						display: table;
						font-size: 13px; 
						opacity: .5;
						width: auto;
						
						
						dt
						{
							display: table-cell;
							clear: both;
							vertical-align: middle; 
							color: #FFF; 
							font-weight: bold;

							span
							{
								font-size: 13px; 
								margin-top: 0;
								padding: 0;
							}
							 
						}

						dd
						{
							padding: 0;
							margin: 0;
							color: #FFF; 
							font-weight: bold;

							span
							{
								font-size: 13px; 
								margin-top: 0;
								padding: 0;
							}
							
							p
							{
								font-size: 13px; 
							}
						}
					}

					@for $i from 1 through 10
					{
					  &:nth-child(#{$i})
					  {
			    			transition: all (#{0.4s + $i*0.1s}) cubic-bezier(.67,.17,.32,.95); 
					  }
					}
				}
			}

			p.total
			{
				padding: 30px 25px 20px;
				text-transform: uppercase;
				color: rgba(255, 255, 255, .5);   
				font-size: 14px; 
				
				strong
				{
					font-weight: normal;
				}
				
				.amount
				{
					color: #FFF;
					font-size: 24px;
					font-weight: bold;  
					padding-right: 5px; 
				}
			}

			p.buttons
			{
				padding: 0 20px;
				
				.button
				{
					margin-bottom: 0; 
				}
				 
				a.button.checkout.wc-forward
				{
					background: #FFF !important;
					color: #ec7a5c;  
					padding: 20px !important; 
				}
			}
		}

	}

	.minicart-message
	{
		padding: 20px;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 13px; 
		position: relative;
		z-index: 2; 
		
		&:after
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: rgba(0, 0, 0, 0.2);   
			z-index: -1;   
		}
	}

}

.open-mini-cart 
{
	position: fixed;
	bottom: 100px;
	right: 100px;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background: #000;
	color: #FFF;
	font-weight: bold;
	z-index: 99;
}

@media only screen and (max-width: 1023px) {

	.shopkeeper-mini-cart
	{
		display: none;
	}

}

@media only screen and (min-height: 626px) and (max-height: 745px) {

	.shopkeeper-mini-cart .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget:not(.empty)
	{    
		max-height: 285px;
	}

}

@media only screen and (max-height: 625px) {

	.shopkeeper-mini-cart .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget:not(.empty)
	{    
		max-height: 145px;
	}
	
}


