$icomoon-font-family: "Shopkeeper-Icon-Font" !default;
$icomoon-font-path: "fonts" !default;

$spk-icon-checked: "\e910";
$spk-icon-sync: "\e90f";
$spk-icon-Document_3: "\e926";
$spk-icon-Add_2: "\e912";
$spk-icon-Remove_2: "\e913";
$spk-icon-icon-arrow-right: "\e920";
$spk-icon-icon-message: "\e921";
$spk-icon-icon-like-it: "\e923";
$spk-icon-close-thin-large: "\e91a";
$spk-icon-down-arrow-thin-large: "\e91b";
$spk-icon-left-arrow-thin-large: "\e91c";
$spk-icon-right-arrow-thin-large: "\e91d";
$spk-icon-up-arrow-thin-large: "\e91e";
$spk-icon-menu-filters: "\e919";
$spk-icon-down-small: "\e914";
$spk-icon-left-small: "\e915";
$spk-icon-right-small: "\e916";
$spk-icon-up-small: "\e917";
$spk-icon-video-player: "\e911";
$spk-icon-load-more: "\e90e";
$spk-icon-diamond: "\e90d";
$spk-icon-spk_error: "\e90b";
$spk-icon-spk_check: "\e90c";
$spk-icon-warning: "\e900";
$spk-icon-close: "\e918";
$spk-icon-arrow-left: "\e901";
$spk-icon-arrow-right: "\e902";
$spk-icon-view: "\e903";
$spk-icon-heart-full: "\e904";
$spk-icon-heart: "\e905";
$spk-icon-cart-shopkeeper: "\e908";
$spk-icon-menu: "\e906";
$spk-icon-search: "\e907";
$spk-icon-user-account: "\e90a";
$spk-icon-quote-left: "\e925";
$spk-icon-used-product: "\e92d";
$spk-icon-coupon: "\e909";

