@media all and (min-width: 768px) {
  body.gbt_classic_notif.woocommerce-checkout .woocommerce-info:before {
    top: 14px; } }

.product_layout_classic .woocommerce-notices-wrapper {
  margin: 30px 0 0 0; }
  @media all and (min-width: 1024px) {
    .product_layout_classic .woocommerce-notices-wrapper {
      margin: 0 0 10px 0; } }

.product_layout_2 .woocommerce-notices-wrapper {
  margin: 30px 0 0 0; }
  @media all and (min-width: 1024px) {
    .product_layout_2 .woocommerce-notices-wrapper {
      max-width: 66%;
      margin: 0 0 10px 0; } }

.product_layout_3 .woocommerce-notices-wrapper {
  margin: 5px 0 15px 0; }
  @media all and (min-width: 1024px) {
    .product_layout_3 .woocommerce-notices-wrapper {
      margin: -15px 0 15px 0; } }

.product_layout_4 .woocommerce-notices-wrapper {
  margin: 30px 0 0 0; }
  @media all and (min-width: 1024px) {
    .product_layout_4 .woocommerce-notices-wrapper {
      max-width: 61%;
      margin: 0 0 10px 30px; } }

@media all and (min-width: 1024px) {
  body.gbt_classic_notif.rtl .product_layout_classic .woocommerce-notices-wrapper {
    margin-right: 8.333333%; } }

body.gbt_classic_notif.rtl .woocommerce-message,
body.gbt_classic_notif.rtl .woocommerce-error,
body.gbt_classic_notif.rtl .woocommerce-info,
body.gbt_classic_notif.rtl .woocommerce-notice {
  padding: 1rem 2.2rem 1rem 1rem;
  text-align: right; }
  body.gbt_classic_notif.rtl .woocommerce-message:before,
  body.gbt_classic_notif.rtl .woocommerce-error:before,
  body.gbt_classic_notif.rtl .woocommerce-info:before,
  body.gbt_classic_notif.rtl .woocommerce-notice:before {
    left: auto;
    right: 0; }
