//==============================================================================
// Product Layout Default / Product Gallery Images & Thumbnails
//==============================================================================

.product-images-wrapper 
{
    position: relative;

    @media #{$medium-up} {
    
        .woocommerce-product-gallery
        {
            display: flex;

            .flex-viewport
            {
                width: 84% !important;

                img,
                a.video iframe
                {
                    padding-left: 1px;
                }
            }

            ol.flex-control-thumbs
            {
                order: 1;
                max-height: 488px;
                padding: 0 0.625rem 0 0 !important;
                width: 16% !important;

                li
                {
                    width: 100% !important;
                    padding: 0 0 20px 0;
                    transition: opacity 0.5s ease;

                    img
                    {
                        opacity: 1 !important;
                        height: auto;
                        cursor: pointer;
                        transition: opacity 0.5s ease;
                        -webkit-backface-visibility: hidden;
                        transform: translateZ(0) scale(1.0, 1.0);

                        &.flex-active
                        {
                            opacity: .2 !important;
                        }
                    }

                    &:hover
                    {
                        img
                        {
                            opacity: .2 !important;
                            transition: opacity 0.5s ease;
                        }
                    }
                }
            }

            .flex-viewport
            {
                order: 2;
                margin-left: 0.625rem;
            }
        }
    }

    @media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
        .woocommerce-product-gallery ol.flex-control-thumbs
        {
            max-height: 575px !important;
        }
    }

    .woocommerce-product-gallery
    {
        .woocommerce-product-gallery__image.youtube
        {
            .fluid-width-video-wrapper
            {
                padding-top: 56.2222%;
                width: 100%;
                position: relative;

                iframe
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .flex-active-slide .zoomImg:hover
    {
        cursor: url(../images/cursor-zoom.png), auto;
    }
    
    .easyzoom
    {
        &.is-loading
        {
            &:after
            {
                display: none;
            }
        }
    }    
}